<a href="{{ routes.all_products_collection_url }}">
  <div class=" bg-co-green-light text-white py-2 md:py-3 text-lg font-semibold text-center leading-5 flex flex-col items-center justify-center gap-1 md:flex-row h-[60px] md:h-[44px]">
    <div>20% OFF FIRST TIME SUBSCRIPTION</div>
    <div>+ FREE SHAKER</div>
  </div>
</a>

{% schema %}
{
  "tag": "section"
}
{% endschema %}
