{% comment %} TODO: Investigate why OO doesn't have overflow hidden {% endcomment %}
<div class="relative w-full min-h-[365px] max-h-[calc(100dvh-160px)] lg:min-h-[400px] lg:max-h-[calc(100dvh-190px)] z-0 overflow-hidden">
  <img
    src="{{ '1_Video_Banner.png' | asset_img_url: '1280x720', crop: 'center' }}"
    width="1280"
    height="720"
    alt=""
    class="z-0 w-full hidden md:block"
  >
  <img
    src="{{ '1_Video_Banner.png' | asset_img_url: '720x960', crop: 'center' }}"
    width="720"
    height="960"
    alt=""
    class="z-0 w-full md:hidden"
  >
  {% comment %} TODO: Different video sizes + shadow in CSS {% endcomment %}
  <video
    src="{{ '1_Video_Banner.mp4' | asset_url }}"
    autoplay
    muted
    loop
    playsinline
    class="absolute inset-0 w-full h-full object-cover z-10"
  ></video>

  <div class="absolute inset-0 z-20"></div>
  <div class="absolute z-30 left-[10%] bottom-14 md:bottom-1/2 md:translate-y-1/2">
    <div class="text-left text-white">
      <h1 class="text-4xl lg:text-5xl font-semibold tracking-tight text-shadow-[2px_2px_7px_#000]">
        10 Second<br>
        Breakfast
      </h1>
      <h2 class="h2 my-6 text-shadow-[2px_2px_7px_#000]">We sh*t you not.</h2>
      <div class="flex justify-start">
        <a
          href="{{ routes.all_products_collection_url }}"
          class="button +large +green text-xl min-w-[200px]!"
          ><span>Shop Now</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="inline ml-1 feather feather-chevron-right"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "section"
}
{% endschema %}
