@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 0.75rem;
}

@theme {
  --color-co-green-light: #6b8e23;
  --color-co-green-dark: #4b5320;
  --color-co-gray-light-1: #f5f5f5;
}

@layer components {
  .button {
    border-style: var(--tw-border-style);
    min-height: 42px;
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 2);
    text-align: center;
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-base--line-height));
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
    border-width: 1px;
    border-radius: 3.40282e38px;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }
  .button.\+green {
    border-color: var(--color-co-green-light);
    background-color: var(--color-co-green-light);
    color: var(--color-white);
  }
  .button.\+green:not(.lg\:disabled):hover,
  .button.\+green:not(.lg\:disabled):active {
    background-color: var(--color-co-green-dark);
    border-color: var(--color-co-green-dark);
  }
  @media (prefers-contrast: more) {
    .button.\+green {
      color: var(--color-black);
    }
  }
  .button.\+large {
    min-width: 120px;
    height: 56px;
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 3);
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }

  /* main-nav-links.liquid */
 .main-nav-links {
    width: 50%;
    max-width: var(--container-sm);
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) * 10);
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
    display: none;
  }
  @media (width>=64rem) {
    .main-nav-links {
      display: flex;
    }
  }
  .main-nav-links a {
    padding-block: calc(var(--spacing) * 3);
    text-align: center;
    white-space: nowrap;
  }
  @media (width>=64rem) {
    .main-nav-links a {
      justify-content: center;
      display: flex;
    }
  }
  .main-nav-links a > .link-text {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }
  .main-nav-links a.active > .link-text {
    margin-bottom: calc(var(--spacing) * -0.5);
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 2px;
    border-color: var(--color-green-500);
  }
}
