@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 0.75rem;
}

@theme {
  --color-co-green-light: #6b8e23;
  --color-co-green-dark: #4b5320;
}

@layer components {
  .button {
    border-style: var(--tw-border-style);
    min-height: 42px;
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 2);
    text-align: center;
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-base--line-height));
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
    border-width: 1px;
    border-radius: 3.40282e38px;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }
  .button.\+green {
    border-color: var(--color-co-green-light);
    background-color: var(--color-co-green-light);
    color: var(--color-white);
  }
  .button.\+green:not(.lg\:disabled):hover,
  .button.\+green:not(.lg\:disabled):active {
    background-color: var(--color-co-green-dark);
    border-color: var(--color-co-green-dark);
  }
  @media (prefers-contrast: more) {
    .button.\+green {
      color: var(--color-black);
    }
  }
  .button.\+large {
    min-width: 120px;
    height: 56px;
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 3);
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }
}
